<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车列表详情</title>
    <meta name="referrer" content="no-referrer">
     <style>
        a{

        text-decoration:none;

        }
    </style>

</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
 <div>
	<ul class="media-list">

						{% if order_list %}
                        	{% for order  in order_list %}
						<li class="media">
                            	{{order.product_id}}
                            {{order.order_total_price}}
                            <a href="/delete_order?product={{order.product_id}}&user_id={{order.user_id}}">删除</a>
						</li>
					    	{% endfor %}
						{% endif %}
					</ul>
   <a href="/pay"> 支付</a>
</div>

</body>
</html>